:root {
  --link-color--link-primary: var(--base-color-brand--blue);
  --background-color--background-primary: var(--base-color-neutral--black);
  --text-color--text-alternate: var(--base-color-neutral--white);
  --text-color--text-primary: var(--base-color-neutral--black);
  --text-color--text-secondary: var(--base-color-neutral--neutral-darker);
  --background-color--background-success: var(--base-color-system--success-green);
  --text-color--text-success: var(--base-color-system--success-green-dark);
  --primary: #306a8f;
  --border-color--border-primary: var(--base-color-neutral--neutral-lightest);
  --background-color--background-alternate: var(--base-color-neutral--white);
  --background-color--background-secondary: var(--base-color-brand--blue);
  --background-color--background-tertiary: var(--base-color-brand--pink);
  --background-color--background-error: var(--base-color-system--error-red);
  --text-color--text-error: var(--base-color-system--error-red-dark);
  --border-color--border-alternate: var(--base-color-neutral--neutral-darker);
  --background-color--background-warning: var(--base-color-system--warning-yellow);
  --text-color--text-warning: var(--base-color-system--warning-yellow-dark);
  --base-color-neutral--white: #fff;
  --base-color-brand--blue-light: #d9e5ff;
  --base-color-brand--blue: #2d62ff;
  --base-color-brand--blue-dark: #080331;
  --base-color-brand--pink-light: #ffaefe;
  --base-color-brand--pink: #dd23bb;
  --base-color-brand--pink-dark: #3c043b;
  --base-color-neutral--black: #000;
  --base-color-neutral--neutral-lightest: #eee;
  --base-color-neutral--neutral-lighter: #ccc;
  --base-color-neutral--neutral-light: #aaa;
  --base-color-neutral--neutral: #666;
  --base-color-neutral--neutral-dark: #444;
  --base-color-neutral--neutral-darker: #222;
  --base-color-neutral--neutral-darkest: #111;
  --base-color-system--success-green: #cef5ca;
  --base-color-system--success-green-dark: #114e0b;
  --base-color-system--warning-yellow: #fcf8d8;
  --base-color-system--warning-yellow-dark: #5e5515;
  --base-color-system--error-red: #f8e4e4;
  --base-color-system--error-red-dark: #3b0b0b;
  --base-color-system--focus-state: #2d62ff;
  --border-color--border-secondary: var(--base-color-brand--blue);
  --link-color--link-secondary: var(--base-color-neutral--black);
  --link-color--link-alternate: var(--base-color-neutral--white);
}

.w-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border: 1px solid #ccc;
  border-radius: 2px;
  width: 12px;
  height: 12px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom {
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}

.w-form-formradioinput--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom.w--redirected-checked {
  border-width: 4px;
  border-color: #3898ec;
}

body {
  color: #000;
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.1;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
}

h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.4;
}

h5 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5;
}

h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
}

p {
  margin-bottom: 0;
}

a {
  color: var(--link-color--link-primary);
}

ul, ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 1.5rem;
}

li {
  margin-bottom: .25rem;
}

img {
  max-width: 100%;
  display: inline-block;
}

label {
  margin-bottom: .25rem;
  font-weight: 500;
}

blockquote {
  border-left: .25rem solid #e2e2e2;
  margin-bottom: 0;
  padding: 0 1.25rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

figure {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

figcaption {
  text-align: center;
  margin-top: .25rem;
}

.utility-page_component {
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  display: flex;
}

.utility-page_wrapper {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  max-width: 20rem;
  display: flex;
}

.utility-page_form {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.utility-page_image {
  margin-left: auto;
  margin-right: auto;
}

.global-styles {
  display: block;
  position: fixed;
  inset: 0% auto auto 0%;
}

.margin-custom2 {
  margin: 2.5rem;
}

.padding-xlarge {
  padding: 4rem;
}

.margin-xlarge {
  margin: 4rem;
}

.margin-xsmall {
  margin: .5rem;
}

.padding-xhuge {
  padding: 8rem;
}

.margin-custom1 {
  margin: 1.5rem;
}

.padding-0 {
  padding: 0;
}

.padding-xxhuge {
  padding: 12rem;
}

.padding-huge {
  padding: 6rem;
}

.margin-large {
  margin: 3rem;
}

.padding-xxlarge {
  padding: 5rem;
}

.margin-xxsmall {
  margin: .25rem;
}

.padding-custom3 {
  padding: 3.5rem;
}

.padding-large {
  padding: 3rem;
}

.margin-tiny {
  margin: .125rem;
}

.padding-small {
  padding: 1rem;
}

.padding-custom2 {
  padding: 2.5rem;
}

.margin-custom3 {
  margin: 3.5rem;
}

.padding-custom1 {
  padding: 1.5rem;
}

.margin-huge {
  margin: 6rem;
}

.padding-medium {
  padding: 2rem;
}

.padding-xsmall {
  padding: .5rem;
}

.margin-xxlarge {
  margin: 5rem;
}

.padding-xxsmall {
  padding: .25rem;
}

.margin-xhuge {
  margin: 8rem;
}

.padding-tiny {
  padding: .125rem;
}

.margin-small {
  margin: 1rem;
}

.margin-medium {
  margin: 2rem;
}

.margin-xxhuge {
  margin: 12rem;
}

.margin-0 {
  margin: 0;
}

.margin-horizontal {
  margin-top: 0;
  margin-bottom: 0;
}

.padding-top {
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.margin-vertical {
  margin-left: 0;
  margin-right: 0;
}

.margin-bottom {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

.margin-bottom.margin-medium {
  height: 0;
}

.padding-left {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
}

.padding-vertical {
  padding-left: 0;
  padding-right: 0;
}

.padding-horizontal {
  padding-top: 0;
  padding-bottom: 0;
}

.margin-right {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.margin-top {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

.margin-left {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.padding-right {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}

.padding-bottom {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.form_checkbox {
  flex-direction: row;
  align-items: center;
  margin-bottom: .5rem;
  padding-left: 0;
  display: flex;
}

.form_checkbox-icon {
  border-radius: .125rem;
  width: .875rem;
  height: .875rem;
  margin: 0 .5rem 0 0;
}

.form_checkbox-icon.w--redirected-checked {
  background-size: 90%;
  border-radius: .125rem;
  width: .875rem;
  height: .875rem;
  margin: 0 .5rem 0 0;
}

.form_checkbox-icon.w--redirected-focus {
  border-radius: .125rem;
  width: .875rem;
  height: .875rem;
  margin: 0 .5rem 0 0;
  box-shadow: 0 0 .25rem 0 #3898ec;
}

.fs-styleguide_background {
  border: 1px solid #0000001a;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  display: flex;
}

.fs-styleguide_spacing {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  background-image: linear-gradient(to top, #2d40ea1a, #fff0);
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  place-content: start;
  place-items: start stretch;
  display: grid;
  position: relative;
}

.icon-1x1-small {
  flex: none;
  width: 1rem;
  height: 1rem;
}

.overflow-auto {
  overflow: auto;
}

.spacing-clean {
  margin: 0;
  padding: 0;
}

.icon-1x1-large {
  width: 2.5rem;
  height: 2.5rem;
}

.z-index-2 {
  z-index: 2;
  position: relative;
}

.fs-styleguide_background-space {
  width: 1px;
  height: 1px;
  margin: 5rem;
}

.text-weight-semibold {
  font-weight: 600;
}

.text-style-strikethrough {
  text-decoration: line-through;
}

.fs-styleguide_item {
  grid-column-gap: 1.125rem;
  grid-row-gap: 1.125rem;
  border-bottom: 1px solid #0000001a;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  place-content: start;
  place-items: start;
  padding-bottom: 3rem;
  display: grid;
  position: relative;
}

.fs-styleguide_item.is-stretch {
  justify-items: stretch;
}

.max-width-full {
  width: 100%;
  max-width: none;
}

.fs-styleguide_item-header {
  border-bottom: 1px solid #0000001a;
  width: 100%;
  padding-bottom: 2rem;
}

.background-color-primary {
  background-color: var(--background-color--background-primary);
  color: var(--text-color--text-alternate);
}

.z-index-1 {
  z-index: 1;
  position: relative;
}

.text-color-primary {
  color: var(--text-color--text-primary);
}

.text-color-secondary {
  color: var(--text-color--text-secondary);
}

.fs-styleguide_2-col {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  display: grid;
}

.fs-styleguide_2-col.is-align-start {
  align-items: start;
}

.form_message-success {
  background-color: var(--background-color--background-success);
  color: var(--text-color--text-success);
  padding: 1.25rem;
}

.fs-styleguide_row {
  grid-column-gap: .75rem;
  grid-row-gap: .75rem;
  flex-direction: row;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-auto-columns: auto;
  grid-auto-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.heading-style-h3 {
  text-align: center;
  font-size: 1.625rem;
  font-weight: 700;
  line-height: 1.2;
}

.heading-style-h3.align-left {
  color: var(--primary);
  text-align: left;
}

.text-rich-text h1, .text-rich-text h2, .text-rich-text h3, .text-rich-text h4 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.text-rich-text h5, .text-rich-text h6 {
  margin-top: 1.25rem;
  margin-bottom: 1rem;
}

.text-rich-text p {
  margin-bottom: 1rem;
}

.text-rich-text ul, .text-rich-text ol {
  margin-bottom: 1.5rem;
}

.text-rich-text blockquote {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.pointer-events-auto {
  pointer-events: auto;
}

.container-small {
  width: 100%;
  max-width: 48rem;
  margin-left: auto;
  margin-right: auto;
}

.icon-height-small {
  height: 1rem;
}

.icon-1x1-medium {
  width: 2rem;
  height: 2rem;
}

.heading-style-h1 {
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.1;
}

.heading-style-h1.text-color-primary {
  color: var(--primary);
}

.padding-global {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.padding-global.padding-section-top {
  padding-top: 8rem;
  padding-bottom: 3rem;
}

.padding-global.padding-section-top.is-more {
  padding-top: 10rem;
}

.text-weight-normal {
  font-weight: 400;
}

.padding-section-small {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.max-width-small {
  width: 100%;
  max-width: 20rem;
}

.text-color-alternate {
  color: var(--text-color--text-alternate);
}

.text-style-italic {
  font-style: italic;
}

.pointer-events-none {
  pointer-events: none;
}

.text-weight-medium {
  font-weight: 500;
}

.overflow-hidden {
  overflow: hidden;
}

.fs-styleguide_section-header {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  border-bottom: 1px solid var(--border-color--border-primary);
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  padding-bottom: 3rem;
  line-height: 1.4;
  display: grid;
}

.text-size-tiny {
  font-size: .75rem;
}

.max-width-xxlarge {
  width: 100%;
  max-width: 80rem;
}

.fs-styleguide_1-col {
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  display: grid;
}

.overflow-visible {
  overflow: visible;
}

.fs-styleguide_empty-box {
  z-index: -1;
  background-color: #2d40ea0d;
  border: 1px dashed #2d40ea;
  min-width: 3rem;
  height: 3rem;
  position: relative;
}

.text-weight-light {
  font-weight: 300;
}

.fs-styleguide_heading-medium {
  font-size: 4rem;
}

.max-width-xsmall {
  width: 100%;
  max-width: 16rem;
}

.fs-styleguide_4-col {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  display: grid;
}

.text-size-regular {
  font-size: 1rem;
}

.text-weight-xbold {
  font-weight: 800;
}

.text-align-right {
  text-align: right;
}

.text-weight-bold {
  font-weight: 700;
}

.max-width-medium {
  width: 100%;
  max-width: 32rem;
}

.fs-styleguide_item-wrapper {
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  display: flex;
}

.max-width-large {
  width: 100%;
  max-width: 48rem;
}

.fs-styleguide_header-block {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  place-items: center start;
  display: grid;
}

.background-color-alternate {
  background-color: var(--background-color--background-alternate);
}

.text-style-muted {
  opacity: .6;
}

.text-size-small {
  font-size: .875rem;
}

.heading-style-h4 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.4;
}

.max-width-xlarge {
  width: 100%;
  max-width: 64rem;
}

.form_radio-icon {
  width: .875rem;
  height: .875rem;
  margin-top: 0;
  margin-left: 0;
  margin-right: .5rem;
}

.form_radio-icon.w--redirected-checked {
  border-width: .25rem;
  width: .875rem;
  height: .875rem;
}

.form_radio-icon.w--redirected-focus {
  width: .875rem;
  height: .875rem;
  box-shadow: 0 0 .25rem 0 #3898ec;
}

.text-style-nowrap {
  white-space: nowrap;
}

.text-align-left {
  text-align: left;
}

.background-color-secondary {
  background-color: var(--background-color--background-secondary);
}

.form_input {
  border: 1px solid var(--border-color--border-primary);
  background-color: #0000;
  min-height: 3rem;
  margin-bottom: .75rem;
  padding: .5rem 1rem;
  font-size: 1rem;
}

.form_input::placeholder, .form_input.is-select-input {
  color: var(--text-color--text-secondary);
}

.form_input.is-text-area {
  min-height: 8rem;
  padding-top: .75rem;
  font-size: 1rem;
}

.heading-style-h6 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
}

.padding-section-large {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.fs-styleguide_3-col {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: stretch;
  width: 100%;
  display: grid;
}

.fs-styleguide_3-col.is-align-start {
  align-items: start;
}

.text-style-link {
  color: var(--link-color--link-primary);
  text-decoration: underline;
}

.text-size-large {
  font-size: 1.5rem;
}

.text-size-large.text-weight-bold.text-color-primary {
  color: var(--primary);
}

.fs-styleguide_header {
  background-color: var(--background-color--background-primary);
  color: var(--text-color--text-alternate);
  background-image: radial-gradient(circle at 100% 100%, #dd23bb40, #0000 40%), radial-gradient(circle at 0 100%, #2d62ff4d, #0000 60%);
}

.heading-style-h2 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
}

.heading-style-h2.text-color-primary {
  color: var(--primary);
}

.heading-style-h2.text-color-yellow {
  color: #fe9d00;
}

.heading-style-h2.text-color-brown {
  color: #a16504;
}

.heading-style-h2.text-color-pink {
  color: #e28897;
}

.fs-styleguide_label {
  background-color: var(--background-color--background-secondary);
  color: var(--text-color--text-alternate);
  border-radius: .25rem;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: .25rem .75rem .3rem;
  font-weight: 600;
  display: flex;
}

.fs-styleguide_label.is-tag {
  background-color: var(--background-color--background-tertiary);
}

.heading-style-h5 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5;
}

.container-large {
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.container-large.is-pos-rel {
  position: relative;
}

.icon-height-medium {
  height: 2rem;
}

.text-style-allcaps {
  text-transform: uppercase;
}

.overflow-scroll {
  overflow: scroll;
}

.form_message-error {
  background-color: var(--background-color--background-error);
  color: var(--text-color--text-error);
  margin-top: .75rem;
  padding: .75rem;
}

.icon-height-large {
  height: 3rem;
}

.text-align-center {
  text-align: center;
}

.form_component {
  margin-bottom: 0;
}

.max-width-xxsmall {
  width: 100%;
  max-width: 12rem;
}

.layer {
  justify-content: center;
  align-items: center;
  position: absolute;
  inset: 0%;
}

.text-style-quote {
  border-left: .25rem solid #e2e2e2;
  margin-bottom: 0;
  padding: 0 1.25rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

.align-center {
  margin-left: auto;
  margin-right: auto;
}

.button {
  background-color: var(--background-color--background-primary);
  color: var(--text-color--text-alternate);
  text-align: center;
  border-radius: .25rem;
  padding: .75rem 1.5rem;
  font-weight: 600;
}

.button.is-text {
  color: #000;
  background-color: #0000;
  border: 2px solid #0000;
}

.button.is-small {
  padding: .5rem 1.25rem;
}

.button.is-large {
  padding: 1rem 2rem;
}

.button.is-secondary {
  border: 1px solid var(--border-color--border-alternate);
  color: var(--text-color--text-primary);
  background-color: #0000;
}

.button.is-icon {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.button.is-brand {
  background-color: var(--background-color--background-secondary);
}

.fs-styleguide_classes {
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.text-size-medium {
  font-size: 1.25rem;
}

.text-size-medium.text-weight-semibold.text-color-pink {
  color: #e28897;
}

.text-size-medium.text-weight-semibold.text-color-brown {
  color: #9c5252;
}

.fs-styleguide_section {
  grid-column-gap: 6rem;
  grid-row-gap: 6rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  place-items: start;
  display: grid;
}

.fs-styleguide_section.is-vertical {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-columns: 1fr;
}

.button-group {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.hide {
  display: none;
}

.padding-section-medium {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.container-medium {
  width: 100%;
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
}

.form_radio {
  flex-direction: row;
  align-items: center;
  margin-bottom: .5rem;
  padding-left: 0;
  display: flex;
}

.fs-styleguide_spacing-all {
  display: none;
}

.spacer-huge {
  width: 100%;
  padding-top: 6rem;
}

.spacer-medium {
  width: 100%;
  padding-top: 2rem;
}

.fs-styleguide_spacer-box {
  background-color: #2d40ea1a;
  border: 1px dashed #2d40ea;
  width: 100%;
  position: relative;
}

.spacer-xsmall {
  width: 100%;
  padding-top: .5rem;
}

.spacer-small {
  width: 100%;
  padding-top: 1rem;
}

.spacer-xhuge {
  width: 100%;
  padding-top: 8rem;
}

.spacer-tiny {
  width: 100%;
  padding-top: .125rem;
}

.spacer-xxsmall {
  width: 100%;
  padding-top: .25rem;
}

.spacer-xxhuge {
  width: 100%;
  padding-top: 12rem;
}

.spacer-xlarge {
  width: 100%;
  padding-top: 4rem;
}

.spacer-large {
  padding-top: 3rem;
}

.spacer-xxlarge {
  width: 100%;
  padding-top: 5rem;
}

.fs-styleguide_message {
  background-color: var(--background-color--background-warning);
  color: var(--text-color--text-warning);
  border-radius: .25rem;
  padding: .25rem .5rem;
  font-size: .875rem;
}

.nav_component {
  background-color: #ddd0;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: relative;
  inset: 0% 0% auto;
}

.nav_container {
  background-color: #fff;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding: .5rem 3.375rem;
  display: flex;
  box-shadow: 0 2px 5px #0003;
}

.nav_logo {
  width: 10rem;
}

.nav_menu {
  z-index: 2000;
}

.nav_menu_link {
  color: #000;
  padding: 1rem;
}

.nav_button {
  padding: 1rem;
}

.aspect-ratio-square {
  aspect-ratio: 1;
  object-fit: cover;
}

.aspect-ratio-portrait {
  aspect-ratio: 2 / 3;
  object-fit: cover;
}

.aspect-ratio-landscape {
  aspect-ratio: 3 / 2;
  object-fit: cover;
}

.aspect-ratio-widescreen {
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.background-color-tertiary {
  background-color: var(--background-color--background-tertiary);
}

.fs-styleguide_hero-label {
  color: var(--text-color--text-primary);
  text-transform: uppercase;
  background-color: #eee;
  border-radius: .25rem;
  padding: .25rem .375rem;
  font-size: .75rem;
  font-weight: 500;
  text-decoration: none;
}

.hero_content {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  place-content: start;
  place-items: start;
  max-width: 70rem;
  display: grid;
  position: relative;
}

.hero_image {
  border-radius: 1rem;
  margin-top: 0;
}

.hero_heading {
  font-size: 4rem;
}

.section_hero {
  color: #fff;
  background-image: linear-gradient(#e2f1f9, #d2edfa 71%, #fef5ec);
  flex-direction: column;
  justify-content: center;
  padding-top: 6.5rem;
  display: flex;
  position: relative;
  overflow: hidden;
}

.hero_grid {
  grid-column-gap: 8rem;
  grid-row-gap: 8rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  display: grid;
}

.nav_fixed {
  position: absolute;
  inset: 0% 0% auto;
}

.fs-styleguide_heading-header {
  font-size: 6rem;
}

.hero_content-wrapper {
  z-index: 10;
  color: #306a8f;
  text-align: center;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  font-weight: 600;
  display: flex;
  position: relative;
}

.text-size-xxlarger {
  font-size: 3.5rem;
}

.design-element {
  position: absolute;
}

.design-element.cluod-nav {
  z-index: 1000;
  width: 295px;
  height: 153px;
  inset: -14% -9% auto auto;
}

.design-element.cloud-sun {
  z-index: 11;
  width: 231px;
  height: 182px;
  inset: 9% -1% auto auto;
}

.design-element.airplane {
  z-index: 1;
  width: 290px;
  height: 202.875px;
  inset: 19% auto auto 6%;
}

.design-element.airplane.is-form {
  transform-style: preserve-3d;
  width: 400px;
  height: 250px;
  inset: auto 15% -18% auto;
  transform: rotateX(0)rotateY(-180deg)rotateZ(-20deg);
}

.design-element.cloud {
  width: 295px;
  inset: 0% auto auto 0%;
}

.btn-primary {
  background-color: #fe9d00;
  border-radius: 1rem;
  padding: 1rem 2.875rem;
  font-size: 1.5rem;
}

.btn-primary.is--submit {
  background-color: #ca7e02;
  width: 100%;
  font-weight: 600;
}

.section_programs {
  background-color: #fef5ec;
}

.hero-image {
  width: 100%;
  height: 100%;
  margin-top: 3rem;
}

.is-paragraph {
  color: #475b67;
  font-size: 1.125rem;
}

.is-paragraph.text-color-pink {
  color: #e28897;
}

.is-paragraph.text-color-white {
  color: #fff;
}

.btn-secondary {
  color: #fff;
  background-color: #fe9d00;
  border-radius: .5rem;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
  display: flex;
}

.btn-secondary.is-color-yellow {
  background-color: var(--primary);
}

.arrow-wrapper {
  background-color: #306a8f;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 2.875rem;
  margin-left: 1rem;
  display: flex;
  position: relative;
  right: -1%;
}

.arrow-wrapper.is-color-yellow {
  background-color: #fe9d00;
}

.icon {
  justify-content: center;
  align-items: center;
  display: flex;
}

.icon.is-readmore {
  transform: rotate(48deg);
}

.program_content-wrapper {
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.programs_component {
  grid-column-gap: 60px;
  grid-row-gap: 60px;
  justify-content: center;
  align-items: flex-start;
  margin-top: 4rem;
  display: flex;
}

.program-item {
  color: #2d62ff;
  background-color: #fff;
  border-radius: 30px;
  flex-flow: column;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  padding-top: 2.25rem;
  text-decoration: none;
  display: flex;
  overflow: hidden;
}

.program-image {
  height: 383px;
}

.program_item-content_wrapper {
  width: 100%;
  padding-left: 1.625rem;
  padding-right: 1.625rem;
}

.pragram_heading-wrapper {
  color: var(--primary);
  text-align: center;
  margin-bottom: 1rem;
  position: relative;
}

.pragram_heading-wrapper.is-program {
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.yellow-line {
  background-color: #fe9d00;
  width: 150px;
  height: 5px;
  position: absolute;
  inset: auto 30% 0% auto;
}

.yellow-line.is-program {
  inset: auto auto 0% 0%;
}

.read-more {
  color: #fff;
  background-color: #fe9d00;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
}

.btn-readmore {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  display: flex;
}

.section_about {
  background-color: #fefefe;
  background-image: linear-gradient(#fef5ec, #fefefe 40%);
}

.about_component {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: .7fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.about_content-wrapper {
  flex-flow: column;
  grid-template-rows: auto;
  grid-template-columns: .75fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 5rem;
  display: flex;
}

.about-img {
  position: relative;
  top: 120px;
  left: 15px;
}

.section_form {
  background-image: linear-gradient(#fcc14f, #fdd8ac);
}

.form-component {
  grid-column-gap: 5rem;
  grid-row-gap: 5rem;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.field-label {
  color: #a16504;
  font-size: 1.125rem;
  font-weight: 700;
}

.text-field {
  border-radius: 20px;
  height: 50px;
}

.form {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  flex-flow: column;
  display: flex;
}

.form_content-wrapper {
  padding-top: 3rem;
  position: relative;
}

.paragraph-wrapper {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-flow: column;
  margin-top: 1rem;
  display: flex;
}

.is-0accept {
  margin-top: 6px;
}

.map-link {
  border-radius: 1rem;
  overflow: hidden;
}

.contact_details-wrapper {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  justify-content: space-between;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
  display: flex;
}

.footer-dark {
  background-color: #fafafa;
  border-bottom: 1px solid #e4ebf3;
  padding: 50px 30px 15px;
  position: relative;
}

.container {
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.footer-wrapper {
  justify-content: space-between;
  align-items: flex-start;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.footer-content {
  grid-column-gap: 70px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: auto auto;
  grid-auto-columns: 1fr;
  display: grid;
}

.footer-block {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.title-small {
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 12px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.footer-link {
  color: #1a1b1f;
  margin-top: 12px;
  margin-bottom: 6px;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}

.footer-link:hover {
  color: #1a1b1fbf;
}

.footer-social-block {
  justify-content: flex-start;
  align-items: center;
  margin-top: 12px;
  margin-left: -12px;
  display: flex;
}

.footer-social-link {
  width: 24.0057px;
  margin-left: 12px;
}

.footer-social-link.is-whatsapp-icon {
  padding: .2rem;
}

.footer-divider {
  background-color: #e4ebf3;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 1px;
  margin-top: 70px;
  margin-bottom: 15px;
  display: flex;
  position: relative;
}

.footer-copyright-center {
  text-align: center;
  margin-top: .5rem;
  font-size: 14px;
  line-height: 16px;
  position: absolute;
  inset: auto 0% 0% auto;
}

.footer-copyright-center.is-rel {
  position: relative;
}

.footer-copyright-center.is-small {
  color: #8a8a8a;
  font-size: 10px;
  position: relative;
}

.footer-logo {
  width: 20rem;
}

.center {
  width: 100%;
  max-width: 100%;
  position: relative;
}

.contact-item {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.location-icon {
  justify-content: center;
  align-items: center;
  display: flex;
}

.contact-link {
  text-decoration: none;
}

.director_content-wrapper {
  color: var(--base-color-neutral--white);
  background-color: #45a179;
  border-radius: 20px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 1.625rem;
  text-decoration: none;
  display: flex;
  position: relative;
}

.is-wdith-set {
  width: 80%;
}

.is-wdith-set.is-margin-top {
  width: 100%;
  margin-top: 1.5rem;
}

.director_arrow-wrapper {
  background-color: #287c74;
  border: 10px solid #fff;
  border-radius: 20px;
  padding: 2.5rem 4rem;
  position: absolute;
  inset: -8% -2% auto auto;
}

.section_curriculum {
  background-image: linear-gradient(#fef9f5, #fef5ec);
}

.section_curriculum.is-program {
  background-image: none;
}

.curr_component {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.curr_component.is-program {
  position: relative;
}

.curr_img-wrapper.is-program-img {
  position: absolute;
  inset: -6% 10% auto auto;
}

.pillars_content-wrapper {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-flow: column;
  grid-template-rows: auto;
  grid-template-columns: auto 1fr;
  grid-auto-columns: 1fr;
  display: flex;
}

.pillar_component {
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  place-items: center;
  margin-top: 4rem;
  display: grid;
}

.pillar-item {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: .25fr 1fr;
  grid-auto-columns: 1fr;
  margin-top: 2rem;
  display: flex;
}

.pillar-item_content-wrapper {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  flex-flow: column;
  display: flex;
}

.pillar-item_content-wrapper.is-program {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.pillar_icon-wrapper {
  justify-content: center;
  align-items: flex-start;
  width: 20%;
  display: flex;
}

.pillar-icon {
  width: 59.7017px;
}

.list {
  flex-flow: column;
  display: flex;
}

.exploare_component {
  grid-column-gap: 5rem;
  grid-row-gap: 5rem;
  grid-template-rows: auto;
  grid-template-columns: auto 1fr;
  grid-auto-columns: 1fr;
  margin-top: 4rem;
  display: grid;
}

.exploare_component.is-cap {
  grid-template-columns: 1fr 1fr;
}

.explore_content-wrapper {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-flow: column;
  display: flex;
}

.program-img-top {
  width: 25rem;
}

.is-whatsapp-icon {
  width: 1.4rem;
}

.is-insta-icon {
  width: 1.5rem;
}

.built {
  width: 100%;
  text-decoration: none;
}

._2-col {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.div-block {
  z-index: 10;
  border: 1px solid #000;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  width: 568px;
  height: 516px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.code-embed {
  width: 100%;
  height: auto;
}

.background-video {
  z-index: 9;
  width: 100%;
  height: 100%;
}

.image-wrapper {
  width: 100%;
}

.overlay {
  opacity: .6;
  background-color: #012924;
  position: absolute;
  inset: 0%;
}

.overlay.inverse-overlay {
  opacity: .75;
  background-color: #fff;
}

.grid-layout {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  grid-auto-columns: 1fr;
  display: grid;
}

.grid-layout.desktop-3-column {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-layout.desktop-1-column {
  grid-template-columns: 1fr;
}

.h5-heading {
  letter-spacing: 0;
  margin-top: 0;
  margin-bottom: .7em;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3em;
}

.paragraph-sm {
  letter-spacing: 0;
  margin-bottom: .7em;
  font-size: .88rem;
  line-height: 1.6em;
}

.cover-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.utility-position-relative {
  position: relative;
}

.image-grid {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.image-thumbnail {
  object-fit: cover;
  border-radius: 30px;
  height: 100%;
}

.section_gallery {
  background-image: linear-gradient(#fdd8ab, #fff 48%);
  padding-top: 6rem;
  padding-bottom: 4rem;
}

@media screen and (max-width: 991px) {
  .padding-xlarge {
    padding: 3rem;
  }

  .margin-xlarge {
    margin: 3rem;
  }

  .padding-xhuge {
    padding: 6rem;
  }

  .padding-xxhuge {
    padding: 8rem;
  }

  .padding-huge {
    padding: 5rem;
  }

  .margin-large {
    margin: 2.5rem;
  }

  .padding-xxlarge {
    padding: 4rem;
  }

  .padding-large {
    padding: 2.5rem;
  }

  .margin-huge {
    margin: 5rem;
  }

  .padding-medium {
    padding: 1.5rem;
  }

  .margin-xxlarge {
    margin: 4rem;
  }

  .margin-xhuge {
    margin: 6rem;
  }

  .margin-medium {
    margin: 1.5rem;
  }

  .margin-xxhuge {
    margin: 8rem;
  }

  .margin-horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .hide-tablet {
    display: none;
  }

  .fs-styleguide_2-col {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-template-columns: 1fr;
  }

  .max-width-full-tablet {
    width: 100%;
    max-width: none;
  }

  .fs-styleguide_1-col {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }

  .fs-styleguide_heading-medium {
    font-size: 3rem;
  }

  .fs-styleguide_4-col {
    grid-template-columns: 1fr;
  }

  .padding-section-large {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .fs-styleguide_3-col {
    grid-template-columns: 1fr;
  }

  .fs-styleguide_section {
    grid-column-gap: 2.5rem;
    grid-template-columns: 1fr;
  }

  .padding-section-medium {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .spacer-huge {
    padding-top: 5rem;
  }

  .spacer-medium {
    padding-top: 1.5rem;
  }

  .spacer-xhuge {
    padding-top: 6rem;
  }

  .spacer-xxhuge {
    padding-top: 8rem;
  }

  .spacer-xlarge {
    padding-top: 3rem;
  }

  .spacer-large {
    padding-top: 2.5rem;
  }

  .spacer-xxlarge {
    padding-top: 4rem;
  }

  .nav_menu {
    background-color: #fff;
    border-radius: 20px;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }

  .nav_button {
    color: #000;
    padding: .5rem;
  }

  .nav_button.w--open {
    color: #f39704;
    background-color: #fff;
  }

  .section_hero {
    padding-top: 3rem;
  }

  .hero_grid {
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
    grid-template-columns: 1fr;
  }

  .fs-styleguide_heading-header {
    font-size: 4rem;
  }

  .design-element.cluod-nav {
    display: none;
  }

  .design-element.cloud-sun {
    width: 150px;
    top: 38%;
  }

  .design-element.airplane {
    width: 150px;
    height: 100px;
    top: 38%;
    left: -1%;
  }

  .design-element.airplane.is-form {
    display: none;
  }

  .design-element.cloud {
    width: 150px;
  }

  .programs_component {
    flex-flow: column;
  }

  .program-item {
    width: 100%;
  }

  .about_component {
    flex-flow: column;
    grid-template-columns: .7fr;
    display: flex;
  }

  .about-img {
    top: 83px;
  }

  .form-component {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    flex-flow: wrap-reverse;
    display: flex;
  }

  .form_content-wrapper {
    padding-top: 0;
  }

  .map-link {
    height: 500px;
  }

  .contact_details-wrapper {
    flex-flow: column;
  }

  .container {
    max-width: 728px;
  }

  .footer-content {
    grid-column-gap: 60px;
  }

  .footer-copyright-center.is-small {
    position: relative;
  }

  .map-img {
    object-fit: cover;
    height: 100%;
  }

  .curr_component {
    flex-flow: column;
    display: flex;
  }

  .curr_img-wrapper.is-program-img {
    display: none;
    position: relative;
    right: 0%;
  }

  .pillar_component {
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
  }

  .pillar_icon-wrapper {
    justify-content: flex-start;
    align-items: flex-start;
    width: 15%;
  }

  .exploare_component {
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
    flex-flow: column;
    display: flex;
  }

  .grid-layout.desktop-1-column {
    grid-template-columns: 1fr;
  }

  .h5-heading {
    font-size: 1rem;
  }

  .paragraph-sm {
    font-size: .88rem;
  }

  .image-grid {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  h5 {
    font-size: 1rem;
  }

  h6 {
    font-size: .875rem;
  }

  .padding-xlarge {
    padding: 2rem;
  }

  .margin-xlarge {
    margin: 2rem;
  }

  .padding-xhuge {
    padding: 4rem;
  }

  .padding-xxhuge {
    padding: 4.5rem;
  }

  .padding-huge {
    padding: 3.5rem;
  }

  .margin-large {
    margin: 1.5rem;
  }

  .padding-xxlarge {
    padding: 3rem;
  }

  .padding-large {
    padding: 1.5rem;
  }

  .margin-huge {
    margin: 3.5rem;
  }

  .padding-medium {
    padding: 1.25rem;
  }

  .margin-xxlarge {
    margin: 3rem;
  }

  .margin-xhuge {
    margin: 4rem;
  }

  .margin-medium {
    margin: 1.25rem;
  }

  .margin-xxhuge {
    margin: 4.5rem;
  }

  .margin-horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .hide-mobile-landscape {
    display: none;
  }

  .heading-style-h3 {
    font-size: 1.5rem;
  }

  .heading-style-h1 {
    font-size: 2.5rem;
  }

  .padding-global {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .padding-section-small {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .fs-styleguide_section-header {
    font-size: .875rem;
  }

  .fs-styleguide_heading-medium {
    font-size: 2rem;
  }

  .max-width-full-mobile-landscape {
    width: 100%;
    max-width: none;
  }

  .heading-style-h4 {
    font-size: 1rem;
  }

  .text-style-nowrap {
    white-space: normal;
  }

  .heading-style-h6 {
    font-size: .75rem;
  }

  .padding-section-large {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .text-size-large {
    font-size: 1.25rem;
  }

  .heading-style-h2 {
    font-size: 2rem;
  }

  .heading-style-h5 {
    font-size: .875rem;
  }

  .padding-section-medium {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .spacer-huge {
    padding-top: 3.5rem;
  }

  .spacer-medium {
    padding-top: 1.25rem;
  }

  .spacer-xhuge {
    padding-top: 4rem;
  }

  .spacer-xxhuge {
    padding-top: 4.5rem;
  }

  .spacer-xlarge {
    padding-top: 2rem;
  }

  .spacer-large {
    padding-top: 1.5rem;
  }

  .spacer-xxlarge {
    padding-top: 3rem;
  }

  .nav_container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .footer-dark {
    padding-left: 15px;
    padding-right: 15px;
  }

  .footer-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .footer-content {
    grid-template-columns: 1fr;
    margin-top: 40px;
  }

  .footer-block {
    align-items: center;
  }

  .footer-link:hover {
    color: #1a1b1fbf;
  }

  .footer-social-block {
    margin-top: 20px;
    margin-left: -20px;
  }

  .footer-social-link {
    margin-left: 20px;
  }

  .footer-divider {
    margin-top: 60px;
  }

  .h5-heading {
    font-size: 1rem;
  }

  .paragraph-sm {
    font-size: .88rem;
  }
}

@media screen and (max-width: 479px) {
  .margin-horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .fs-styleguide_row {
    flex-wrap: wrap;
  }

  .max-width-full-mobile-portrait {
    width: 100%;
    max-width: none;
  }

  .heading-style-h1 {
    font-size: 3rem;
  }

  .hide-mobile-portrait {
    display: none;
  }

  .heading-style-h2.is-w {
    width: 80%;
  }

  .nav_container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .hero_heading, .text-size-xxlarger {
    font-size: 2.5rem;
  }

  .design-element.cloud-sun {
    width: 100px;
    top: 47%;
  }

  .design-element.airplane {
    top: 56%;
  }

  .btn-primary.is--submit {
    font-size: 1.25rem;
  }

  .is-paragraph.text-color-pink {
    flex-flow: wrap;
  }

  .btn-secondary {
    font-size: 1.25rem;
  }

  .program-image {
    height: auto;
  }

  .pragram_heading-wrapper.is-program {
    text-align: left;
  }

  .read-more {
    font-size: 1.25rem;
  }

  .map-link {
    height: 200px;
  }

  .container {
    max-width: none;
  }

  .director_content-wrapper {
    padding-right: 2rem;
  }

  .director_arrow-wrapper {
    padding: 1.5rem 2rem;
    top: 0%;
  }

  .pillar-item {
    grid-column-gap: .5rem;
    grid-row-gap: .5rem;
    flex-flow: column;
  }

  .pillar_icon-wrapper {
    width: auto;
  }

  .pillar-icon {
    width: 50px;
  }

  .h5-heading {
    font-size: 1rem;
  }

  .paragraph-sm {
    font-size: .88rem;
  }

  .image-grid {
    grid-template-rows: auto;
  }
}

#w-node-da3fe090-2ab4-7dc5-d57d-4ed877b5b035-a50f895e {
  grid-area: span 3 / span 1 / span 3 / span 1;
}

#w-node-_4b232271-852c-fd11-7799-abe27a6208af-7a6208a9, #w-node-_4b232271-852c-fd11-7799-abe27a6208b8-7a6208a9, #w-node-b224ec27-30fa-be84-48bf-7ed471542af3-a50f8961 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627ca17-a50f8961, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca1c-a50f8961, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca21-a50f8961, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca26-a50f8961, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca2c-a50f8961, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca32-a50f8961, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca38-a50f8961 {
  justify-self: start;
}

#w-node-_5d224905-8a1e-1460-7532-d38cb7ec37c1-a50f8961, #w-node-_40538c8c-870b-b365-34c4-2a06f0f8567d-a50f8961, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cb45-a50f8961, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cb5e-a50f8961 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cb61-a50f8961 {
  justify-self: start;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cb63-a50f8961 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cb66-a50f8961 {
  justify-self: start;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cbb8-a50f8961, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cbc2-a50f8961, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cbc3-a50f8961 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cc31-a50f8961, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc36-a50f8961, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc3b-a50f8961, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc40-a50f8961, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc45-a50f8961, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc4a-a50f8961, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc54-a50f8961, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc59-a50f8961, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc5e-a50f8961, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc63-a50f8961, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc68-a50f8961, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc6d-a50f8961, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc72-a50f8961, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc77-a50f8961, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc7c-a50f8961, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc81-a50f8961, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc86-a50f8961 {
  justify-self: start;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cc8a-a50f8961 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cc8b-a50f8961, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc90-a50f8961, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc95-a50f8961, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cc9a-a50f8961, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccaf-a50f8961, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccb4-a50f8961, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccb9-a50f8961, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccbe-a50f8961, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccc3-a50f8961, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccc8-a50f8961, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccd2-a50f8961, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccd7-a50f8961, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccdc-a50f8961, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cce1-a50f8961, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cce6-a50f8961, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cceb-a50f8961, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccf0-a50f8961, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccf5-a50f8961, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccfa-a50f8961, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ccff-a50f8961, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd04-a50f8961 {
  justify-self: start;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cd08-a50f8961 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cd09-a50f8961, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd0e-a50f8961, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd13-a50f8961, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd18-a50f8961, #w-node-_30684373-af34-3818-02a4-e58b3ffef3e5-a50f8961, #w-node-_30684373-af34-3818-02a4-e58b3ffef3ea-a50f8961, #w-node-_30684373-af34-3818-02a4-e58b3ffef3ef-a50f8961, #w-node-_30684373-af34-3818-02a4-e58b3ffef3f4-a50f8961, #w-node-_30684373-af34-3818-02a4-e58b3ffef3f9-a50f8961, #w-node-_30684373-af34-3818-02a4-e58b3ffef3fe-a50f8961, #w-node-_30684373-af34-3818-02a4-e58b3ffef403-a50f8961, #w-node-_30684373-af34-3818-02a4-e58b3ffef408-a50f8961, #w-node-_30684373-af34-3818-02a4-e58b3ffef40d-a50f8961, #w-node-_30684373-af34-3818-02a4-e58b3ffef412-a50f8961 {
  justify-self: start;
}

#w-node-_30684373-af34-3818-02a4-e58b3ffef416-a50f8961 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_30684373-af34-3818-02a4-e58b3ffef417-a50f8961 {
  justify-self: start;
}

#w-node-_30684373-af34-3818-02a4-e58b3ffef41a-a50f8961, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd6b-a50f8961, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cd98-a50f8961 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cdc7-a50f8961 {
  justify-self: start;
}

#w-node-d579f5ae-4e06-ba5b-9225-6ecc4d53bf1e-2a7ed64b {
  place-self: center;
}


